openapi: 3.0.2
info:
  contact:
    email: support@finixpayments.com
    name: Finix
    url: https://finix.com
  title: Finix API
  version: 2022-02-01
servers:
- description: Sandbox server to be used for testing and development
  url: https://finix.sandbox-payments-api.com
security:
- BasicAuth: []
tags:
- name: Authorizations
- name: Balance Transfers
- name: Disputes
- name: Fee Profiles
- name: Identities
- name: Merchants
- name: Payment Instruments
- name: Settlements
- name: Transfers
- name: Webhooks
- name: Devices
- name: Merchant Profiles
- name: Reversals
- name: Risk profiles
- name: Verifications
- name: Files
- name: Instrument Updates
- name: Onboarding Forms
- name: Compliance Forms
paths:
  /authorizations:
    get:
      description: 'Retrieve a list of `Authorizations`. '
      operationId: listAuthorizations
      parameters:
      - description: Filter by an amount equal to the given value.
        explode: true
        in: query
        name: amount
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount greater than.
        explode: true
        in: query
        name: amount.gt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount greater than or equal.
        explode: true
        in: query
        name: amount.gte
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount less than.
        explode: true
        in: query
        name: amount.lt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount less than or equal.
        explode: true
        in: query
        name: amount.lte
        required: false
        schema:
          type: integer
        style: form
      - description: Return every resource created before the cursor value.
        explode: true
        in: query
        name: before_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Filter where `created_at` is after the given date.
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          example: created_at.gte=2019-06-15
          type: string
        style: form
      - description: Filter where `created_at` is before the given date.
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          example: created_at.lte=2019-06-15
          type: string
        style: form
      - description: Filter by `idempotency_id`.
        explode: true
        in: query
        name: idempotency_id
        required: false
        schema:
          type: string
        style: form
      - description: The numbers of items to return.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Specify key to be used for sorting the collection.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Transaction state.
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - SUCCEEDED
          - FAILED
          - PENDING
          - CANCELED
          type: string
        style: form
      - description: Filter where `updated_at` is after the given date.
        explode: true
        in: query
        name: updated_at.gte
        required: false
        schema:
          type: string
        style: form
      - description: Filter where `updated_at` is before the given date.
        explode: true
        in: query
        name: updated_at.lte
        required: false
        schema:
          type: string
        style: form
      - description: Filter by `trace_id`.
        explode: true
        in: query
        name: trace_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by `idempotency_id`.
        explode: true
        in: query
        name: is_void
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Bank Identification Number (BIN). The BIN is the first
          6 digits of the masked number.
        explode: true
        in: query
        name: instrument_bin
        required: false
        schema:
          type: string
        style: form
      - description: "Filter Transactions by the last 4 digits of the bank account.\
          \ The bank account last 4 are the last 4 digits of the masked number\tinstrument_account_last4=9444\
          \ BIN."
        explode: true
        in: query
        name: instrument_account_last4
        required: false
        schema:
          type: string
        style: form
      - description: Filter by card brand. Available card brand types can be found
          in the drop-down.
        explode: true
        in: query
        name: instrument_brand_type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by `Identity` ID.
        explode: true
        in: query
        name: merchant_identity_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter Transactions by `Identity` name. The name is not case-sensitive.
        explode: true
        in: query
        name: merchant_identity_name
        required: false
        schema:
          type: string
        style: form
      - description: Filter Transactions by `Payment Instrument` name.
        explode: true
        in: query
        name: instrument_name
        required: false
        schema:
          type: string
        style: form
      - description: "Filter Transactions by `Payment Instrument` type. Available\
          \ instrument types include: Bank Account or Payment Card."
        explode: true
        in: query
        name: instrument_type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by `Merchant` ID.
        explode: true
        in: query
        name: merchant_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Merchant Identification Number (MID).
        explode: true
        in: query
        name: merchant_mid
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the payment card last 4 digits.
        explode: true
        in: query
        name: instrument_card_last4
        required: false
        schema:
          type: string
        style: form
      - description: Filter by `Processor` ID.
        explode: true
        in: query
        name: merchant_processor_id
        required: false
        schema:
          type: string
        style: form
      - description: Type of the `Authorization`.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Return every resource created after the cursor value.
        explode: true
        in: query
        name: after_cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                List of Authorizations:
                  value:
                    _embedded:
                      authorizations:
                      - id: AUcaGi9WKyKn2GwX3bNSpsXo
                        application: AP3AB2itAWrrrPVS6spvrGYp
                        amount: 100
                        tags: {}
                        state: SUCCEEDED
                        currency: USD
                        transfer: null
                        messages: []
                        raw:
                          additional_large_number: 9223372036854776000
                          value: 100
                          order_id: 1c02bd0a-119f-4ded-8bd8-7f23b6d869ce
                        created_at: 2022-08-01T22:15:30.41Z
                        updated_at: 2022-08-01T22:15:30.51Z
                        trace_id: 1c02bd0a-119f-4ded-8bd8-7f23b6d869ce
                        source: PIbDnouV59En1yKfYUNLTpG9
                        merchant_identity: IDsArLxCm9QGbi2QfhaFrTED
                        "3ds_redirect_url": null
                        is_void: false
                        void_state: UNATTEMPTED
                        expires_at: 2022-08-08T22:15:30.41Z
                        idempotency_id: null
                        additional_buyer_charges: null
                        failure_code: null
                        failure_message: null
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/authorizations/AUcaGi9WKyKn2GwX3bNSpsXo
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                          merchant_identity:
                            href: https://finix.sandbox-payments-api.com/identities/IDsArLxCm9QGbi2QfhaFrTED
                      - id: AUfh49WdxqokwZMkxiDaAp9d
                        application: APeUbTUjvYb1CdPXvNcwW1wP
                        amount: 150
                        tags:
                          order_number: test123transfer
                        state: FAILED
                        currency: USD
                        transfer: null
                        messages:
                        - LaneID 1 does not exist.
                        - "Authorization AUfh49WdxqokwZMkxiDaAp9d could not be submitted.\
                          \ Cause: LaneID 1 does not exist."
                        - DECLINED
                        raw:
                          approved_amount: 0
                          convenience_fee_amount: 0
                          currency_code: None
                          is_approved: false
                          is_offline: false
                          payment_type: None
                          pin_verified: false
                          status_code: None
                          sub_total_amount: 0
                          tip_amount: 0
                          total_amount: 0
                          order_id: FNX7FBcyvYEAfuVczJdtR8VpV
                          lane_id: 1
                          _errors:
                          - developer_message: "ERROR:POST error\r\nEXCEPTION: LaneID\
                              \ 1 does not exist.\r\n"
                            error_type: ""
                            exception_message: LaneID 1 does not exist.
                            exception_type_full_name: TriPos.Shared.Exceptions.PinPadNotFoundException
                            exception_type_short_name: PinPadNotFoundException
                            user_message: ""
                          _links: []
                          _processor:
                            logs:
                            - LaneID 1 does not exist.
                            processor_logs:
                            - LaneID 1 does not exist.
                            processor_request_failed: false
                            processor_request_was_approved: false
                            processor_response_code: Unknown
                          _type: authorizationResponse
                          _warnings: []
                        card_present_details:
                          emv_data: null
                          masked_account_number: null
                          name: null
                          brand: null
                          entry_mode: null
                          payment_type: NONE
                          approval_code: "000037"
                        created_at: 2022-08-01T20:00:07.65Z
                        updated_at: 2022-08-01T20:00:08.07Z
                        trace_id: FNX7FBcyvYEAfuVczJdtR8VpV
                        source: PI2tXhSnoqT6pwyvWLHBkun5
                        merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                        device: DVf2H8sh4LZZC52GTUrwCPPf
                        "3ds_redirect_url": null
                        is_void: false
                        void_state: UNATTEMPTED
                        expires_at: 2022-08-08T20:00:07.65Z
                        idempotency_id: null
                        additional_buyer_charges: null
                        failure_code: null
                        failure_message: null
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/authorizations/AUfh49WdxqokwZMkxiDaAp9d
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                          device:
                            href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                          merchant_identity:
                            href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                    _links:
                      self:
                        href: "https://finix.sandbox-payments-api.com/authorizations?offset=0&limit=20&sort=created_at,desc&sort=id,desc"
                      next:
                        href: "https://finix.sandbox-payments-api.com/authorizations?offset=20&limit=20&sort=created_at,desc&sort=id,desc"
                      last:
                        href: "https://finix.sandbox-payments-api.com/authorizations?offset=633380&limit=20&sort=created_at,desc&sort=id,desc"
                    page:
                      offset: 0
                      limit: 20
                      count: 2
              schema:
                $ref: '#/components/schemas/AuthorizationsList'
          description: List of Authorization objects
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: List Authorizations
      tags:
      - Authorizations
      x-java-method-name: list
      x-group-parameters: true
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl https://finix.sandbox-payments-api.com/authorizations \\\n \
          \ -H \"Content-Type: application/vnd.json+api\" \\\n  -u USimz3zSq5R2PqiEBXY6rSiJ:8bacba32-9550-48ff-b567-fe7648947041\n"
      x-python-method-name: list
      x-returns-list: true
      x-accepts: application/hal+json
    post:
      description: "Create an `Authorization` to process a transaction.\n\n`Authorizations`\
        \ can have six possible `states`, two of which are expected:\n\n- **SUCCEEDED**\
        \ \n- **FAILED**\n\nIf the `Authorization` has **SUCCEEDED** , it must be\
        \ captured before `expires_at` passes or the funds will be released. If the\
        \ `transfer` field of an `Authorization` is **null**, it hasn't been captured\
        \ yet.\n\nLearn how to prevent duplicate authorizations by passing an [Idempotency\
        \ ID](#section/Idempotency-Requests) in the payload.\n- `Authorizations` on\
        \ debit cards place a hold on funds in the cardholder's bank account and can\
        \ lead to lower than expected balances or issues with insufficient funds."
      operationId: createAuthorization
      requestBody:
        $ref: '#/components/requestBodies/CreateAuthorizationRequest'
      responses:
        "201":
          content:
            application/hal+json:
              examples:
                Authorization:
                  value:
                    id: AUcaGi9WKyKn2GwX3bNSpsXo
                    application: AP3AB2itAWrrrPVS6spvrGYp
                    amount: 100
                    tags: {}
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw:
                      additional_large_number: 9223372036854776000
                      value: 100
                      order_id: 1c02bd0a-119f-4ded-8bd8-7f23b6d869ce
                    created_at: 2022-08-01T22:15:30.41Z
                    updated_at: 2022-08-01T22:15:30.51Z
                    trace_id: 1c02bd0a-119f-4ded-8bd8-7f23b6d869ce
                    source: PIbDnouV59En1yKfYUNLTpG9
                    merchant_identity: IDsArLxCm9QGbi2QfhaFrTED
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-08-08T22:15:30.41Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUcaGi9WKyKn2GwX3bNSpsXo
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsArLxCm9QGbi2QfhaFrTED
                Authorization (with 3D Secure):
                  value:
                    id: AU27TBqkcCQn94aSVyTvRyrn
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: TRsBcF8LjV1UaK5vXY6pFHmG
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:19.95Z
                    updated_at: 2022-01-27T07:37:20.03Z
                    trace_id: ce97465f-b620-4d98-adba-378756d7013a
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:19.95Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AU27TBqkcCQn94aSVyTvRyrn
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Authorization (with Level 2 Processing):
                  value:
                    id: AUq2Xz5VS46U4hzzhX9WJCxx
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 1000
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:20.68Z
                    updated_at: 2022-01-27T07:37:20.86Z
                    trace_id: 2b181625-616a-45b1-a8e7-311d76fddd5e
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:20.68Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUq2Xz5VS46U4hzzhX9WJCxx
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Authorization (with Level 3 Processing):
                  value:
                    id: AUsQsCLRp9ENxrh563w1zZHi
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 1000
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:21.55Z
                    updated_at: 2022-01-27T07:37:21.68Z
                    trace_id: 88136ea9-9393-4b95-b4c0-940b49ab707d
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:21.55Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUsQsCLRp9ENxrh563w1zZHi
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Voided Authorization:
                  value:
                    id: AU2UkcVZU94rNqonfcLGZRSJ
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:28.10Z
                    updated_at: 2022-01-27T07:37:29.15Z
                    trace_id: 710b6745-c424-4101-84e5-4a49cf317dc7
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDpYDM7J9n57q849o9E9yNrG
                    "3ds_redirect_url": null
                    is_void: true
                    void_state: PENDING
                    expires_at: 2022-02-03T07:37:28.10Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AU2UkcVZU94rNqonfcLGZRSJ
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG
                Card Present Authorization with an EMV Card:
                  value:
                    id: AUeEok8811pDqsR1BbxZLbw1
                    application: APeUbTUjvYb1CdPXvNcwW1wP
                    amount: 150
                    tags:
                      order_number: test123transfer
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    card_present_details:
                      emv_data:
                        application_identifier: A0000000031010
                        application_label: Visa Credit
                        application_preferred_name: null
                        application_transaction_counter: 004F
                        cryptogram: TC F8C706E8A0368D15
                        issuer_code_table_index: null
                        pin_verified: false
                        tags: {}
                      masked_account_number: '************7564'
                      name: 'AARON/CHRISTOPHER W '
                      brand: VISA
                      entry_mode: CHIP_ENTRY
                      payment_type: CREDIT
                      approval_code: "000036"
                    created_at: 2019-03-11T23:36:42.03Z
                    updated_at: 2019-03-11T23:36:57.09Z
                    trace_id: FNXmEM7d6ns8LMMzt61AD8TrR
                    source: PIcW77CfRyBUWJhA231TWXWf
                    merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                    device: DVf2H8sh4LZZC52GTUrwCPPf
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2019-03-18T23:36:42.03Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    sub_type: API
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUeEok8811pDqsR1BbxZLbw1
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                      device:
                        href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                Card Present Authorization with a Non-EMV Card:
                  value:
                    id: AUiJS1VhMy8zpACLoacPFG7m
                    application: APeUbTUjvYb1CdPXvNcwW1wP
                    amount: 150
                    tags:
                      order_number: test123transfer
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    card_present_details:
                      emv_data: null
                      masked_account_number: '************0011'
                      name: TEST/WORLDPAY
                      brand: UNKNOWN
                      entry_mode: SWIPED
                      payment_type: CREDIT
                      approval_code: "000037"
                    created_at: 2019-03-01T03:37:10.10Z
                    updated_at: 2019-03-01T03:37:23.63Z
                    trace_id: 556185b9-ceaa-490b-bae2-a662757b42e0
                    source: PIaqFoGabsBTTowVr5z7jiLv
                    merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                    device: DVf2H8sh4LZZC52GTUrwCPPf
                    is_void: false
                    expires_at: 2019-03-08T03:37:10.10Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUiJS1VhMy8zpACLoacPFG7m
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                      device:
                        href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                Authorization with Buyer Charges:
                  value:
                    id: AUnxmW39jBePKqYKwQamC3BR
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 5200
                    tags:
                      test: sale
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-08-01T19:04:00.29Z
                    updated_at: 2022-08-01T19:04:00.43Z
                    trace_id: dcb4b954-89b3-4c5e-9b3a-1b8e70e30556
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-08-08T19:04:00.29Z
                    idempotency_id: null
                    additional_buyer_charges:
                      convenience_amount: 0
                      rent_surcharge_amount: 200
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUnxmW39jBePKqYKwQamC3BR
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
              schema:
                $ref: '#/components/schemas/Authorization'
          description: Single Authorization object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "402":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Payment Required
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "422":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error422InvalidFieldList'
          description: Invalid field
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Create an Authorization
      tags:
      - Authorizations
      x-java-method-name: create
      x-python-method-name: create
      x-content-type: application/hal+json
      x-accepts: application/hal+json
  /authorizations/{authorization_id}:
    get:
      description: Retrieve the details of a previously created `Authorization`.
      operationId: getAuthorization
      parameters:
      - description: ID of `Authorization` to fetch.
        explode: false
        in: path
        name: authorization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Authorization:
                  value:
                    id: AUcaGi9WKyKn2GwX3bNSpsXo
                    application: AP3AB2itAWrrrPVS6spvrGYp
                    amount: 100
                    tags: {}
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw:
                      additional_large_number: 9223372036854776000
                      value: 100
                      order_id: 1c02bd0a-119f-4ded-8bd8-7f23b6d869ce
                    created_at: 2022-08-01T22:15:30.41Z
                    updated_at: 2022-08-01T22:15:30.51Z
                    trace_id: 1c02bd0a-119f-4ded-8bd8-7f23b6d869ce
                    source: PIbDnouV59En1yKfYUNLTpG9
                    merchant_identity: IDsArLxCm9QGbi2QfhaFrTED
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-08-08T22:15:30.41Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUcaGi9WKyKn2GwX3bNSpsXo
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsArLxCm9QGbi2QfhaFrTED
                Authorization (with 3D Secure):
                  value:
                    id: AU27TBqkcCQn94aSVyTvRyrn
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: TRsBcF8LjV1UaK5vXY6pFHmG
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:19.95Z
                    updated_at: 2022-01-27T07:37:20.03Z
                    trace_id: ce97465f-b620-4d98-adba-378756d7013a
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:19.95Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AU27TBqkcCQn94aSVyTvRyrn
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Authorization (with Level 2 Processing):
                  value:
                    id: AUq2Xz5VS46U4hzzhX9WJCxx
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 1000
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:20.68Z
                    updated_at: 2022-01-27T07:37:20.86Z
                    trace_id: 2b181625-616a-45b1-a8e7-311d76fddd5e
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:20.68Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUq2Xz5VS46U4hzzhX9WJCxx
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Authorization (with Level 3 Processing):
                  value:
                    id: AUsQsCLRp9ENxrh563w1zZHi
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 1000
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:21.55Z
                    updated_at: 2022-01-27T07:37:21.68Z
                    trace_id: 88136ea9-9393-4b95-b4c0-940b49ab707d
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:21.55Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUsQsCLRp9ENxrh563w1zZHi
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Voided Authorization:
                  value:
                    id: AU2UkcVZU94rNqonfcLGZRSJ
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:28.10Z
                    updated_at: 2022-01-27T07:37:29.15Z
                    trace_id: 710b6745-c424-4101-84e5-4a49cf317dc7
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDpYDM7J9n57q849o9E9yNrG
                    "3ds_redirect_url": null
                    is_void: true
                    void_state: PENDING
                    expires_at: 2022-02-03T07:37:28.10Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AU2UkcVZU94rNqonfcLGZRSJ
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG
                Card Present Authorization with an EMV Card:
                  value:
                    id: AUeEok8811pDqsR1BbxZLbw1
                    application: APeUbTUjvYb1CdPXvNcwW1wP
                    amount: 150
                    tags:
                      order_number: test123transfer
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    card_present_details:
                      emv_data:
                        application_identifier: A0000000031010
                        application_label: Visa Credit
                        application_preferred_name: null
                        application_transaction_counter: 004F
                        cryptogram: TC F8C706E8A0368D15
                        issuer_code_table_index: null
                        pin_verified: false
                        tags: {}
                      masked_account_number: '************7564'
                      name: 'AARON/CHRISTOPHER W '
                      brand: VISA
                      entry_mode: CHIP_ENTRY
                      payment_type: CREDIT
                      approval_code: "000036"
                    created_at: 2019-03-11T23:36:42.03Z
                    updated_at: 2019-03-11T23:36:57.09Z
                    trace_id: FNXmEM7d6ns8LMMzt61AD8TrR
                    source: PIcW77CfRyBUWJhA231TWXWf
                    merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                    device: DVf2H8sh4LZZC52GTUrwCPPf
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2019-03-18T23:36:42.03Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    sub_type: API
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUeEok8811pDqsR1BbxZLbw1
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                      device:
                        href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                Card Present Authorization with a Non-EMV Card:
                  value:
                    id: AUiJS1VhMy8zpACLoacPFG7m
                    application: APeUbTUjvYb1CdPXvNcwW1wP
                    amount: 150
                    tags:
                      order_number: test123transfer
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    card_present_details:
                      emv_data: null
                      masked_account_number: '************0011'
                      name: TEST/WORLDPAY
                      brand: UNKNOWN
                      entry_mode: SWIPED
                      payment_type: CREDIT
                      approval_code: "000037"
                    created_at: 2019-03-01T03:37:10.10Z
                    updated_at: 2019-03-01T03:37:23.63Z
                    trace_id: 556185b9-ceaa-490b-bae2-a662757b42e0
                    source: PIaqFoGabsBTTowVr5z7jiLv
                    merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                    device: DVf2H8sh4LZZC52GTUrwCPPf
                    is_void: false
                    expires_at: 2019-03-08T03:37:10.10Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUiJS1VhMy8zpACLoacPFG7m
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                      device:
                        href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                Authorization with Buyer Charges:
                  value:
                    id: AUnxmW39jBePKqYKwQamC3BR
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 5200
                    tags:
                      test: sale
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-08-01T19:04:00.29Z
                    updated_at: 2022-08-01T19:04:00.43Z
                    trace_id: dcb4b954-89b3-4c5e-9b3a-1b8e70e30556
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-08-08T19:04:00.29Z
                    idempotency_id: null
                    additional_buyer_charges:
                      convenience_amount: 0
                      rent_surcharge_amount: 200
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUnxmW39jBePKqYKwQamC3BR
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
              schema:
                $ref: '#/components/schemas/Authorization'
          description: Single Authorization object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Fetch an Authorization
      tags:
      - Authorizations
      x-java-method-name: get
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl https://finix.sandbox-payments-api.com/authorizations/AUcaGi9WKyKn2GwX3bNSpsXo\
          \ \\\n  -H \"Content-Type: application/vnd.json+api\" \\\n  -u USimz3zSq5R2PqiEBXY6rSiJ:8bacba32-9550-48ff-b567-fe7648947041\n"
      x-python-method-name: get
      x-accepts: application/hal+json
    put:
      description: "If successfully captured, the `transfer` field of the `Authorization`\
        \ will contain the ID of the `Transfer` resource that'll move funds. \n\n\
        By default, `Transfers` are in a **PENDING** state. The **PENDING** state\
        \ means the request to capture funds hasn't been submitted yet. Capture requests\
        \ get submitted via a batch request. \n\nOnce the `Authorization` is updated\
        \ with a `capture_amount` (i.e. *Captured*), the state of the `Transfer` will\
        \ update to **SUCCEEDED**.\n\n> Voided `Authorizations` can't be captured."
      operationId: captureAuthorization
      parameters:
      - description: ID of `Authorization` to fetch.
        explode: false
        in: path
        name: authorization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateAuthorizationRequest'
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Captured Authorization:
                  value:
                    id: AUcP43nwPk6VBjPQBDRBTH5n
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 108
                    tags:
                      test_key_100: test_auth
                    state: SUCCEEDED
                    currency: USD
                    transfer: TRhPwUByCNHQjhNiLdNgveuA
                    messages: []
                    raw: null
                    created_at: 2022-07-20T22:12:02.96Z
                    updated_at: 2022-07-20T22:12:03.76Z
                    trace_id: ab1bebd8-f6a4-4d86-9640-5eebf68c574f
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-07-27T22:12:02.96Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUcP43nwPk6VBjPQBDRBTH5n
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      transfer:
                        href: https://finix.sandbox-payments-api.com/transfers/TRhPwUByCNHQjhNiLdNgveuA
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Captured Authorization (with Level 2 Processing):
                  value:
                    id: AU4AHPn4k7YTQ8YjK3QajeL2
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 1000
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: TRbew5P8bkL3yxz6a6FzfVia
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:20.68Z
                    updated_at: 2022-01-27T07:37:20.86Z
                    trace_id: ab81e66c-dd65-438b-a1dc-6d580b36233c
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:20.68Z
                    idempotency_id: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUq2Xz5VS46U4hzzhX9WJCxx
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Captured Authorization (with Level 3 Processing):
                  value:
                    id: AUczPEgnHSSMJ79n9dvp6HHJ
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 108
                    tags:
                      order_number: test_auth
                    state: SUCCEEDED
                    currency: USD
                    transfer: TReDoizZYZyyyTrcPzMboz84
                    messages: []
                    raw: null
                    created_at: 2022-07-20T20:52:11.63Z
                    updated_at: 2022-07-20T20:52:12.37Z
                    trace_id: 46a36f58-b496-4b6b-9357-6bb3c340de87
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-07-27T20:52:11.63Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUsQsCLRp9ENxrh563w1zZHi
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Voided Authorization:
                  value:
                    id: AU2UkcVZU94rNqonfcLGZRSJ
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:28.10Z
                    updated_at: 2022-01-27T07:37:29.15Z
                    trace_id: 710b6745-c424-4101-84e5-4a49cf317dc7
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDpYDM7J9n57q849o9E9yNrG
                    "3ds_redirect_url": null
                    is_void: true
                    void_state: PENDING
                    expires_at: 2022-02-03T07:37:28.10Z
                    idempotency_id: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AU2UkcVZU94rNqonfcLGZRSJ
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG
                Captured Card Present Authorization (with an EMV Card):
                  value:
                    id: AUuCfRve8QG6G1wnPCReiLma
                    application: APeUbTUjvYb1CdPXvNcwW1wP
                    amount: 150
                    tags:
                      test_key_100: test_auth
                    state: SUCCEEDED
                    currency: USD
                    transfer: TRjiUo5CXLmaJp4k9PL7iP8z
                    messages: []
                    raw: null
                    card_present_details:
                      emv_data:
                        application_identifier: A0000000031010
                        application_label: Visa Credit
                        application_preferred_name: ""
                        application_transaction_counter: "0047"
                        cryptogram: TC 4ACED247416CD824
                        issuer_code_table_index: ""
                        pin_verified: false
                        tags: {}
                      masked_account_number: '************7564'
                      name: 'AARON/CHRISTOPHER W '
                      brand: VISA
                      entry_mode: CHIP_ENTRY
                      payment_type: CREDIT
                      approval_code: "000042"
                    capture_amount: 150
                    created_at: 2019-03-01T03:42:13.59Z
                    updated_at: 2019-03-01T03:49:28.67Z
                    trace_id: 957ce193-b4e4-4a39-88e2-d88a019982d2
                    source: PIjnHHLBZvRu6GPEZdFt7E2q
                    merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                    device: DVf2H8sh4LZZC52GTUrwCPPf
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2019-03-08T03:42:13.59Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUuCfRve8QG6G1wnPCReiLma
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                      transfer:
                        href: https://finix.sandbox-payments-api.com/transfers/TRjiUo5CXLmaJp4k9PL7iP8z
                      device:
                        href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                Captured Card Present Authorization (with a Non-EMV Card):
                  value:
                    id: AUiQyUYxQzhAF5ACAsxdUvYb
                    application: APeUbTUjvYb1CdPXvNcwW1wP
                    amount: 2500
                    tags:
                      ticketNumber: "2348"
                    state: SUCCEEDED
                    currency: USD
                    transfer: TR6eEeW2Fr7hVgfTKgeeG3gy
                    messages: []
                    raw: null
                    card_present_details:
                      emv_data: null
                      masked_account_number: '************0006'
                      name: TEST/WORLDPAY
                      brand: VISA
                      entry_mode: SWIPED
                      payment_type: CREDIT
                      approval_code: "050473"
                    capture_amount: 3000
                    created_at: 2019-05-01T17:18:54.41Z
                    updated_at: 2019-05-01T17:19:42.46Z
                    trace_id: FNXwyFm3UyQEyAL9cdabYBGWa
                    source: PImKxRXq5wQ2r5fK6qQtXady
                    merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                    device: DVfKLD9GZtsjcJxLtc2yCcfd
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2019-05-08T17:18:54.41Z
                    idempotency_id: null
                    additional_buyer_charges: null
                    failure_code: null
                    failure_message: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUiQyUYxQzhAF5ACAsxdUvYb
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                      transfer:
                        href: https://finix.sandbox-payments-api.com/transfers/TR6eEeW2Fr7hVgfTKgeeG3gy
                      device:
                        href: https://finix.sandbox-payments-api.com/devices/DVfKLD9GZtsjcJxLtc2yCcfd
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
              schema:
                $ref: '#/components/schemas/AuthorizationCaptured'
          description: Single captured Authorization object
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "422":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error422InvalidFieldList'
          description: Invalid field
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Capture an Authorization
      tags:
      - Authorizations
      x-internal: false
      x-java-method-name: update
      x-python-method-name: update
      x-content-type: application/hal+json
      x-accepts: application/hal+json
  /balance_transfers:
    get:
      description: Retrieve a list of `balance_transfers`.
      operationId: listBalanceTransfers
      parameters:
      - description: The numbers of items to return.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The number of items to skip before starting to collect the result
          set.
        example: 20
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: The page number to list.
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: The size of the page.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Filter where `created_at` is after the given date.
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          example: created_at.gte=2019-06-15
          type: string
        style: form
      - description: Filter where `created_at` is before the given date.
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          example: created_at.lte=2019-06-15
          type: string
        style: form
      - description: Filter where `updated_at` is after the given date.
        explode: true
        in: query
        name: updated_at.gte
        required: false
        schema:
          type: string
        style: form
      - description: Filter where `updated_at` is before the given date.
        explode: true
        in: query
        name: updated_at.lte
        required: false
        schema:
          type: string
        style: form
      - description: Filter by `idempotency_id`.
        explode: true
        in: query
        name: idempotency_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by an amount equal to the given value.
        explode: true
        in: query
        name: amount
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by the `Description` value .
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the `Payment Instrument` saved in `Destination`.
        explode: true
        in: query
        name: destination
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the value saved in `external_reference_id`.
        explode: true
        in: query
        name: external_reference_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the value saved in `reference_id`.
        explode: true
        in: query
        name: reference_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the `Payment Instrument` saved in `source`.
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                List of Balance Transfers:
                  value:
                    _embedded:
                      devices:
                      - id: DVtQV22Ezh7TAYazXFxYFHpb
                        merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                        name: "Finix  triPOS #1"
                        model: MX915
                        description: Mike Jones
                        serial_number: null
                        idle_message: null
                        enabled: true
                        tags: {}
                        created_at: 2022-08-15T20:22:26.339930Z
                        updated_at: 2022-08-15T20:22:26.339930Z
                        configuration_details: null
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/devices/DVtQV22Ezh7TAYazXFxYFHpb
                          merchant:
                            href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                          transfers:
                            href: https://finix.sandbox-payments-api.com/transfers
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/authorizations
                      - id: DVmcB1MTxnebU3VoqnfuatS7
                        merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                        name: "Finix  triPOS #1"
                        model: MX915
                        description: Mike Jones
                        serial_number: null
                        idle_message: null
                        enabled: true
                        tags: {}
                        created_at: 2022-08-15T18:47:55.354154Z
                        updated_at: 2022-08-15T18:47:55.354154Z
                        configuration_details: null
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/devices/DVmcB1MTxnebU3VoqnfuatS7
                          merchant:
                            href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                          transfers:
                            href: https://finix.sandbox-payments-api.com/transfers
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/authorizations
                    _links:
                      self:
                        href: "https://finix.sandbox-payments-api.com/devices/?offset=0&limit=20&sort=created_at,desc&sort=id,desc"
                      next:
                        href: "https://finix.sandbox-payments-api.com/devices/?offset=20&limit=20&sort=created_at,desc&sort=id,desc"
                      last:
                        href: "https://finix.sandbox-payments-api.com/devices/?offset=8100&limit=20&sort=created_at,desc&sort=id,desc"
                    page:
                      offset: 0
                      limit: 20
                      count: 2
              schema:
                $ref: '#/components/schemas/BalanceTransferList'
          description: List of balance_transfer objects
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          description: Not Found
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: List Balance Transfers
      tags:
      - Balance Transfers
      x-internal: false
      x-java-method-name: list
      x-group-parameters: true
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl https://finix.sandbox-payments-api.com/balance_transfers/ \\\
          \n  -H \"Content-Type: application/vnd.json+api\" \\\n  -u USbkjk46XqUTQHN3i2jaVnc1:ac915962-2757-49ea-aeee-10960a408b99\n"
      x-python-method-name: list
      x-returns-list: true
      x-accepts: application/hal+json
    post:
      description: Create a `balance_transfer`.
      operationId: createBalanceTransfer
      requestBody:
        $ref: '#/components/requestBodies/CreateBalanceTransferRequest'
      responses:
        "201":
          content:
            application/hal+json:
              examples:
                Balance Transfer:
                  value:
                    id: BT_9SLA5BdQs6Z3xFpmjUoqhM
                    created_at: 2022-08-18T06:37:50.67Z
                    updated_at: 2022-08-18T06:37:51.09Z
                    amount: 101
                    currency: USD
                    description: setup balance transfer for testing
                    destination: OPERATING_ACCOUNT
                    external_reference_id: "84077657260162531"
                    processor_type: LITLE_V1
                    reference_id: FNX5ZJEGdPT5odwtRrvxVrYUn
                    source: FOR_BENEFIT_OF_ACCOUNT
                    state: SUCCEEDED
                    tags:
                      test_key_101: test_val_101
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/balance_transfers/BT_9SLA5BdQs6Z3xFpmjUoqhM
              schema:
                $ref: '#/components/schemas/BalanceTransfer'
          description: Single balance_transfer object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Create a Balance Transfer
      tags:
      - Balance Transfers
      x-internal: false
      x-java-method-name: create
      x-python-method-name: create
      x-content-type: application/hal+json
      x-accepts: application/hal+json
  /balance_transfers/{balance_transfers_id}:
    get:
      description: Retrieve the details of a `balance_transfer`.
      operationId: getBalanceTransfers
      parameters:
      - description: ID of the `balance_transfer` resource.
        explode: false
        in: path
        name: balance_transfers_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Balance Transfer:
                  value:
                    id: BT_9SLA5BdQs6Z3xFpmjUoqhM
                    created_at: 2022-08-18T06:37:50.67Z
                    updated_at: 2022-08-18T06:37:51.09Z
                    amount: 101
                    currency: USD
                    description: setup balance transfer for testing
                    destination: OPERATING_ACCOUNT
                    external_reference_id: "84077657260162531"
                    processor_type: LITLE_V1
                    reference_id: FNX5ZJEGdPT5odwtRrvxVrYUn
                    source: FOR_BENEFIT_OF_ACCOUNT
                    state: SUCCEEDED
                    tags:
                      test_key_101: test_val_101
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/balance_transfers/BT_9SLA5BdQs6Z3xFpmjUoqhM
              schema:
                $ref: '#/components/schemas/BalanceTransfer'
          description: Single balance_transfer object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Fetch a Balance Transfer
      tags:
      - Balance Transfers
      x-internal: false
      x-java-method-name: get
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl https://finix.sandbox-payments-api.com/balance_transfers/BT_9SLA5BdQs6Z3xFpmjUoqhM\
          \ \\\n  -H \"Content-Type: application/vnd.json+api\" \\\n  -u USbkjk46XqUTQHN3i2jaVnc1:ac915962-2757-49ea-aeee-10960a408b99\n"
      x-python-method-name: get
      x-accepts: application/hal+json
  /devices/{device_id}:
    get:
      description: "Retrieve the details of an existing `Device`.\n\nTo check the\
        \ connectivity of the device, include `?include_connection\\=true\\` at the\
        \ end of the request endpoint."
      operationId: getDevice
      parameters:
      - description: ID of the `Device`.
        explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies whether the connection information should be included.
        explode: true
        in: query
        name: include_connection
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Device:
                  value:
                    id: DVf2H8sh4LZZC52GTUrwCPPf
                    merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                    name: "Finix Tripos #1"
                    model: MX915
                    description: John Smith
                    serial_number: null
                    idle_message: null
                    enabled: false
                    tags: {}
                    created_at: 2019-03-01T02:27:20.366Z
                    updated_at: 2022-04-05T18:48:40.383Z
                    configuration_details:
                      allow_debit: true
                      check_for_duplicate_transactions: false
                      prompt_amount_confirmation: true
                      prompt_manual_entry: false
                      prompt_signature: NEVER
                      signature_threshold_amount: 0
                      bypass_device_on_capture: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                      merchant:
                        href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                      transfers:
                        href: https://finix.sandbox-payments-api.com/transfers
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/authorizations
                Device (Activated):
                  value:
                    id: DV8EVnpCwHwB9Dk3xTysgt5d
                    merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                    name: "Finix Tripos #1"
                    model: MX915
                    description: John Smith
                    serial_number: 262-410-025
                    idle_message: null
                    enabled: true
                    tags: {}
                    created_at: 2022-06-06T03:59:42.415893Z
                    updated_at: 2022-06-06T03:59:42.416446Z
                    configuration_details:
                      allow_debit: true
                      check_for_duplicate_transactions: true
                      prompt_amount_confirmation: true
                      prompt_manual_entry: false
                      prompt_signature: NEVER
                      signature_threshold_amount: 0
                      bypass_device_on_capture: false
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/devices/DV8EVnpCwHwB9Dk3xTysgt5d
                      merchant:
                        href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                      transfers:
                        href: https://finix.sandbox-payments-api.com/transfers
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/authorizations
                Device (Idle Message Set):
                  value:
                    id: DV8EVnpCwHwB9Dk3xTysgt5d
                    merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                    name: "Finix Tripos #1"
                    model: MX915
                    description: John Smith
                    serial_number: 262-410-025
                    idle_message: Daphne's Corner
                    enabled: true
                    tags: {}
                    created_at: 2022-06-06T03:59:42.415893Z
                    updated_at: 2022-06-06T03:59:42.416446Z
                    configuration_details:
                      allow_debit: true
                      check_for_duplicate_transactions: true
                      prompt_amount_confirmation: true
                      prompt_manual_entry: false
                      prompt_signature: NEVER
                      signature_threshold_amount: 0
                      bypass_device_on_capture: false
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/devices/DV8EVnpCwHwB9Dk3xTysgt5d
                      merchant:
                        href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                      transfers:
                        href: https://finix.sandbox-payments-api.com/transfers
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/authorizations
                Device (Connection Check):
                  value:
                    id: DV8EVnpCwHwB9Dk3xTysgt5d
                    merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                    name: "Finix Tripos #1"
                    model: MX915
                    description: John Smith
                    serial_number: 262-410-025
                    idle_message: Daphne's Corner
                    connection: Open
                    enabled: true
                    tags: {}
                    created_at: 2022-06-06T03:59:42.415893Z
                    updated_at: 2022-06-06T03:59:42.416446Z
                    configuration_details:
                      allow_debit: true
                      check_for_duplicate_transactions: true
                      prompt_amount_confirmation: true
                      prompt_manual_entry: false
                      prompt_signature: NEVER
                      signature_threshold_amount: 0
                      bypass_device_on_capture: false
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/devices/DV8EVnpCwHwB9Dk3xTysgt5d
                      merchant:
                        href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                      transfers:
                        href: https://finix.sandbox-payments-api.com/transfers
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/authorizations
                Device (Deactivated):
                  value:
                    id: DV8EVnpCwHwB9Dk3xTysgt5d
                    merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                    name: "Finix Tripos #1"
                    model: MX915
                    description: John Smith
                    serial_number: 262-410-025
                    idle_message: Daphne's Corner
                    enabled: false
                    tags: {}
                    created_at: 2022-06-06T03:59:42.415893Z
                    updated_at: 2022-06-06T03:59:42.416446Z
                    configuration_details: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/devices/DV8EVnpCwHwB9Dk3xTysgt5d
                      merchant:
                        href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                      transfers:
                        href: https://finix.sandbox-payments-api.com/transfers
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/authorizations
              schema:
                $ref: '#/components/schemas/Device'
          description: Single Device object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Fetch a Device
      tags:
      - Devices
      x-java-method-name: get
      x-group-parameters: true
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf\
          \ \\\n  -H \"Content-Type: application/vnd.json+api\" \\\n  -u USjHFGYvecE4LBitYG8KDE2g:b698f403-d9b7-4157-82d8-162cea8c8cc3\n"
      x-python-method-name: get
      x-accepts: application/hal+json
    put:
      description: "Initiate an action on a `Device`. These actions include activation,\
        \ rebooting, setting an idle message, or deactivate it."
      operationId: updateDevice
      parameters:
      - description: ID of the `Device`.
        explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeviceRequest'
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Device:
                  value:
                    id: DVf2H8sh4LZZC52GTUrwCPPf
                    merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                    name: "Finix Tripos #1"
                    model: MX915
                    description: John Smith
                    serial_number: null
                    idle_message: null
                    enabled: false
                    tags: {}
                    created_at: 2019-03-01T02:27:20.366Z
                    updated_at: 2022-04-05T18:48:40.383Z
                    configuration_details:
                      allow_debit: true
                      check_for_duplicate_transactions: false
                      prompt_amount_confirmation: true
                      prompt_manual_entry: false
                      prompt_signature: NEVER
                      signature_threshold_amount: 0
                      bypass_device_on_capture: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/devices/DVf2H8sh4LZZC52GTUrwCPPf
                      merchant:
                        href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                      transfers:
                        href: https://finix.sandbox-payments-api.com/transfers
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/authorizations
                Device (Activated):
                  value:
                    id: DV8EVnpCwHwB9Dk3xTysgt5d
                    merchant: MUu56ZGx3Xb6U9gAqKfgNisd
                    name: "Finix Tripos #1"
                    model: MX915
                    description: John Smith
                    serial_number: 262-410-025
                    idle_message: null
                    enabled: true
                    tags: {}
                    created_at: 2022-06-06T03:59:42.415893Z
                    updated_at: 2022-06-06T03:59:42.416446Z
                    configuration_details:
                      allow_debit: true
                      check_for_duplicate_transactions: true
                      prompt_amount_confirmation: true
                      prompt_manual_entry: false
                      prompt_signature: NEVER
                      signature_threshold_amount: 0
                      bypass_device_on_capture: false
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/devices/DV8EVnpCwHwB9Dk3xTysgt5d
                      merchant:
                        href: https://finix.sandbox-payments-api.com/merchants/MUu56ZGx3Xb6U9gAqKfgNisd
                      transfers:
                        href: https://finix.sandbox-payments-api.com/transfers
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/authorizations
                Device (Idle Message Set):
                  value:
                    id: DV8EVnpCwHwB9Dk3xTysgt5d
[...]
