openapi: 3.0.2
info:
  contact:
    email: support@finixpayments.com
  title: Finix API
  version: 2018-01-01
servers:
- description: Sandbox server to be used for testing and development
  url: https://finix.sandbox-payments-api.com
- description: Live server to be used for production charges
  url: https://finix.live-payments-api.com
security:
- BasicAuth: []
tags:
- name: Applications
- name: Authorizations
- name: Disputes
- name: Fee profiles
- name: Identities
- name: Merchants
- name: Payment Instruments
- name: Settlements
- name: Transfers
- name: Users
- name: Webhooks
- name: Application Profiles
- name: Devices
- name: Merchant Profiles
- name: Review queue
- name: Reversals
- name: Risk profiles
- name: Verifications
- name: Fees
- name: Processors
- name: Payment Instruments P2C
  x-displayName: Payment Instruments
- name: Subscription Schedules
- name: Subscription Amounts
- name: Subscription Enrollments
paths:
  /application_profiles:
    get:
      description: Return a collection of application profiles
      operationId: listApplicationProfiles
      parameters: []
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationProfilesList'
          description: Collection of application profiles
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: List Application Profiles
      tags:
      - Application Profiles
      x-internal: false
      x-java-method-name: list
      x-accepts: application/hal+json
  /application_profiles/{application_profile_id}:
    get:
      description: Find an existing application profile by id
      operationId: getApplicationProfile
      parameters:
      - description: ID of application profile to use
        explode: false
        in: path
        name: application_profile_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationProfile'
          description: Single application profile object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Get Application Profile
      tags:
      - Application Profiles
      x-java-method-name: get
      x-accepts: application/hal+json
    put:
      description: Update an existing application profile
      operationId: putApplicationProfile
      parameters:
      - description: ID of application profile to use
        explode: false
        in: path
        name: application_profile_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationProfileRequest'
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationProfile'
          description: Single application profile object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Put Application Profile
      tags:
      - Application Profiles
      x-java-method-name: update
      x-contentType: application/json
      x-accepts: application/hal+json
  /applications:
    get:
      description: |
        Return a collection of Applications, if there are no Applications,
        an empty collection will be returned.
      operationId: listApplications
      parameters:
      - description: Filter by id
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Specify key to be used for sorting the collection
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: The number of items to skip before starting to collect the result
          set
        example: 20
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: The numbers of items to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationsList'
          description: List of applications
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: List Applications
      tags:
      - Applications
      x-java-method-name: list
      x-accepts: application/hal+json
    post:
      description: |
        If created successfully, return 201 status and add a location header
        to the response which refers to the new created application.
      operationId: createApplication
      requestBody:
        $ref: '#/components/requestBodies/CreateApplicationRequest'
      responses:
        "201":
          content:
            application/hal+json:
              examples:
                Created application X:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
                Created application Y:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
              schema:
                $ref: '#/components/schemas/Application'
          description: Single application object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Create an Application
      tags:
      - Applications
      x-java-method-name: create
      x-contentType: application/json
      x-accepts: application/hal+json
  /applications/{application_id}:
    get:
      description: Fetch an application
      operationId: getApplication
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Created application X:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
                Created application Y:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
              schema:
                $ref: '#/components/schemas/Application'
          description: Single application object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Fetch an application
      tags:
      - Applications
      x-java-method-name: get
      x-accepts: application/hal+json
    put:
      description: Update an existing application
      operationId: putApplication
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Created application X:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
                Created application Y:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
              schema:
                $ref: '#/components/schemas/Application'
          description: Single application object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Put Application
      tags:
      - Applications
      x-java-method-name: update
      x-accepts: application/hal+json
  /applications/{application_id}/application_profile:
    get:
      description: Show the application profile
      operationId: getApplicationApplicationProfile
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationProfile'
          description: Single application profile object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Get Application Application Profile
      tags:
      - Applications
      x-internal: true
      x-java-method-name: getApplicationProfile
      x-accepts: application/hal+json
  /applications/{application_id}/authorizations:
    get:
      description: |
        Return a collection of authorizations, if there are no authorizations,
        an empty collection will be returned.
      operationId: listApplicationAuthorizations
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/AuthorizationsList'
          description: List of authorizations
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: List Application Authorizations
      tags:
      - Authorizations
      x-internal: true
      x-java-method-name: listByApplicationId
      x-accepts: application/hal+json
    x-internal: true
  /applications/{application_id}/disputes:
    get:
      description: |
        Return a collection of disputes, if there are no disputes, an empty
        collection will be returned.
      operationId: listApplicationDisputes
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DisputesList'
          description: List of disputes
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: List Application Disputes
      tags:
      - Disputes
      x-internal: true
      x-accepts: application/hal+json
    x-internal: true
    x-java-method-name: listByApplicationId
  /applications/{application_id}/identities:
    get:
      description: |
        Return a collection of identities, if there are no identities, an empty
        collection will be returned.
      operationId: listApplicationIdentities
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                List Identities example:
                  value:
                    _embedded:
                      identities:
                      - id: IDuqZpDw28f2KK6YuDk4jNLg
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Dunder Mifflin
                          business_type: CORPORATION
                          doing_business_as: Dunder Mifflin
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.DunderMifflin.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PRIVATE
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Dunder Mifflin
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:37:02.85Z
                        updated_at: 2022-01-27T07:37:02.76Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDqXfTAYjLL4Lyce4Xq33g9k
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: Founder
                          first_name: John
                          last_name: Smith
                          email: john.smith@company1.com
                          business_name: null
                          business_type: null
                          doing_business_as: null
                          phone: "1234567890"
                          business_phone: null
                          personal_address:
                            line1: 123 Main Street
                            line2: null
                            city: San Francisco
                            region: CA
                            postal_code: "90650"
                            country: USA
                          business_address: null
                          mcc: null
                          dob:
                            day: 1
                            month: 1
                            year: 2013
                          max_transaction_amount: 0
                          amex_mid: null
                          discover_mid: null
                          url: null
                          annual_card_volume: 0
                          has_accepted_credit_cards_previously: false
                          incorporation_date: null
                          principal_percentage_ownership: 25
                          short_business_name: null
                          ownership_type: null
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: false
                          default_statement_descriptor: null
                        tags: {}
                        created_at: 2022-01-27T07:37:01.87Z
                        updated_at: 2022-01-27T07:37:01.93Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDqXfTAYjLL4Lyce4Xq33g9k/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDgWxBhfGYLLdkhxx2ddYf9K
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: null
                          first_name: Collen
                          last_name: Wade
                          email: therock@gmail.com
                          business_name: null
                          business_type: null
                          doing_business_as: null
                          phone: "7145677613"
                          business_phone: null
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address: null
                          mcc: null
                          dob: null
                          max_transaction_amount: 0
                          amex_mid: null
                          discover_mid: null
                          url: null
                          annual_card_volume: 0
                          has_accepted_credit_cards_previously: false
                          incorporation_date: null
                          principal_percentage_ownership: null
                          short_business_name: null
                          ownership_type: null
                          tax_authority: null
                          tax_id_provided: false
                          business_tax_id_provided: false
                          default_statement_descriptor: null
                        tags:
                          key: value
                        created_at: 2022-01-27T07:36:59.91Z
                        updated_at: 2022-01-27T07:36:59.83Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDgWxBhfGYLLdkhxx2ddYf9K/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDtuGQoXUHTCjNMgm2Eg7vEW
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Bobs Burgers
                          business_type: GOVERNMENT_AGENCY
                          doing_business_as: Bobs Burgers
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.BobsBurgers.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PUBLIC
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Bobs Burgers
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:36:56.53Z
                        updated_at: 2022-01-27T07:36:56.44Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDtuGQoXUHTCjNMgm2Eg7vEW/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDxAP2TJ1Gxq5rLtcQE58i1b
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Petes Coffee
                          business_type: INTERNATIONAL_ORGANIZATION
                          doing_business_as: Petes Coffee
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.PetesCoffee.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PRIVATE
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Petes Coffee
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:36:55.94Z
                        updated_at: 2022-01-27T07:36:55.84Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDxAP2TJ1Gxq5rLtcQE58i1b/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDbXQoC8j4DoShzhQzap8R9W
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Bobs Burgers
                          business_type: TAX_EXEMPT_ORGANIZATION
                          doing_business_as: Bobs Burgers
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.BobsBurgers.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PUBLIC
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Bobs Burgers
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:36:55.28Z
                        updated_at: 2022-01-27T07:36:55.18Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDbXQoC8j4DoShzhQzap8R9W/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDqwZqmgukJsFGLAfLkBVcAM
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Dunder Mifflin
                          business_type: ASSOCIATION_ESTATE_TRUST
                          doing_business_as: Dunder Mifflin
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.DunderMifflin.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PRIVATE
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Dunder Mifflin
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:36:54.61Z
                        updated_at: 2022-01-27T07:36:54.48Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDqwZqmgukJsFGLAfLkBVcAM/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: ID2RahCnmeXoGpWdZeNuoBw1
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Pollos Hermanos
                          business_type: PARTNERSHIP
                          doing_business_as: Pollos Hermanos
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.PollosHermanos.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PRIVATE
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Pollos Hermanos
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:36:53.82Z
                        updated_at: 2022-01-27T07:36:53.62Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/ID2RahCnmeXoGpWdZeNuoBw1/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDp15SMzFRtu39HeXmictVFe
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Pollos Hermanos
                          business_type: LIMITED_LIABILITY_COMPANY
                          doing_business_as: Pollos Hermanos
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.PollosHermanos.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PRIVATE
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Pollos Hermanos
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:36:52.89Z
                        updated_at: 2022-01-27T07:36:52.79Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDp15SMzFRtu39HeXmictVFe/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDpYDM7J9n57q849o9E9yNrG
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: CEO
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: Petes Coffee
                          business_type: INDIVIDUAL_SOLE_PROPRIETORSHIP
                          doing_business_as: Petes Coffee
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: "0742"
                          dob:
                            day: 27
                            month: 6
                            year: 1978
                          max_transaction_amount: 12000000
                          amex_mid: null
                          discover_mid: null
                          url: www.PetesCoffee.com
                          annual_card_volume: 12000000
                          has_accepted_credit_cards_previously: true
                          incorporation_date:
                            day: 27
                            month: 6
                            year: 1978
                          principal_percentage_ownership: 50
                          short_business_name: null
                          ownership_type: PRIVATE
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: Petes Coffee
                        tags:
                          Studio Rating: "4.7"
                        created_at: 2022-01-27T07:36:52.11Z
                        updated_at: 2022-01-27T07:36:52.00Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      - id: IDuquemzE7UkUJioGJfVKBKt
                        application: APgPDQrLD52TYvqazjHJJchM
                        entity:
                          title: null
                          first_name: dwayne
                          last_name: Sunkhronos
                          email: user@example.org
                          business_name: BrainTree
                          business_type: LIMITED_LIABILITY_COMPANY
                          doing_business_as: BrainTree
                          phone: "1234567890"
                          business_phone: +1 (408) 756-4497
                          personal_address:
                            line1: 741 Douglass St
                            line2: Apartment 7
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          business_address:
                            line1: 741 Douglass St
                            line2: Apartment 8
                            city: San Mateo
                            region: CA
                            postal_code: "94114"
                            country: USA
                          mcc: null
                          dob:
                            day: 27
                            month: 5
                            year: 1978
                          max_transaction_amount: 1200000
                          amex_mid: null
                          discover_mid: null
                          url: null
                          annual_card_volume: 0
                          has_accepted_credit_cards_previously: false
                          incorporation_date: null
                          principal_percentage_ownership: null
                          short_business_name: null
                          ownership_type: null
                          tax_authority: null
                          tax_id_provided: true
                          business_tax_id_provided: true
                          default_statement_descriptor: null
                        tags:
                          application_name: BrainTree
                        created_at: 2022-01-27T07:36:33.52Z
                        updated_at: 2022-01-27T07:36:33.61Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt
                          verifications:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/verifications
                          merchants:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/merchants
                          settlements:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/settlements
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/authorizations
                          transfers:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/transfers
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/payment_instruments
                          associated_identities:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/associated_identities
                          disputes:
                            href: https://finix.sandbox-payments-api.com/identities/IDuquemzE7UkUJioGJfVKBKt/disputes
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/identities?offset=0&limit=20&sort=created_at,desc&sort=id,desc
                    page:
                      offset: 0
                      limit: 20
                      count: 11
              schema:
                $ref: '#/components/schemas/IdentitiesList'
          description: List of identities
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: List Application Identities
      tags:
      - Identities
      x-internal: true
      x-java-method-name: listByApplicationId
      x-accepts: application/hal+json
    x-internal: true
  /applications/{application_id}/merchants:
    get:
      description: |
        Return a collection of merchants, if there are no merchants, an empty
        collection will be returned.
      operationId: listApplicationMerchants
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/MerchantsList'
          description: List of merchants objects
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: List Application Merchants
      tags:
      - Merchants
      x-internal: true
      x-java-method-name: listByApplicationId
      x-accepts: application/hal+json
    x-internal: true
  /applications/{application_id}/payment_instruments:
    get:
      description: Get all paymentInstruments of an application.
      operationId: listApplicationPaymentInstruments
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PaymentInstrumentsList'
          description: List of payment instrument
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Payment Instruments
      tags:
      - Payment Instruments
      x-internal: true
      x-java-method-name: listByApplicationId
      x-accepts: application/hal+json
    x-internal: true
  /applications/{application_id}/processors:
    get:
      description: Get all enabled processors of an application
      operationId: listApplicationProcessors
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ProcessorsList'
          description: List of processors
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: List Application Processors
      tags:
      - Processors
      x-java-method-name: listByApplicationId
      x-accepts: application/hal+json
    post:
      description: |
        Enable a processor for an application. If created successfully, return
        201 status and add a location header to the response which refers to the
        newly enabled processor.
      operationId: createApplicationProcessor
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateProcessorRequest'
      responses:
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Processor'
          description: Single processor object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "422":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error422InvalidFieldList'
          description: 422 Invalid field
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
      summary: Create Application Processor
      tags:
      - Processors
      x-contentType: application/json
      x-accepts: application/hal+json
  /applications/{application_id}/processors/{type}:
    get:
      description: Get the processor by application and type
      operationId: getApplicationProcessor
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      - description: Type of processor
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Processor'
          description: Single processor object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/request-id'
        "406":
          content:
[...]
