openapi: 3.0.2
info:
  contact:
    email: support@finixpayments.com
    name: Finix
    url: https://finix.com
  title: Finix API
  version: 2022-02-01
servers:
- description: Sandbox server to be used for testing and development
  url: https://finix.sandbox-payments-api.com
- description: Live server to be used for production charges
  url: https://finix.live-payments-api.com
security:
- BasicAuth: []
tags:
- name: Applications
- name: Authorizations
- name: Balance Transfers
- name: Disputes
- name: Fee profiles
- name: Identities
- name: Merchants
- name: Payment Instruments
- name: Settlements
- name: Transfers
- name: Users
- name: Webhooks
- name: Application Profiles
- name: Devices
- name: Merchant Profiles
- name: Review queue
- name: Reversals
- name: Risk profiles
- name: Verifications
- name: Fees
- name: Files
- name: Processors
- name: Payment Instruments P2C
  x-displayName: Payment Instruments
- name: Subscription Schedules
- name: Subscription Amounts
- name: Subscription Enrollments
paths:
  /application_profiles:
    get:
      description: Return a collection of `application_profiles`.
      operationId: listApplicationProfiles
      parameters:
      - description: The numbers of items to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return every resource created after the cursor value.
        explode: true
        in: query
        name: after_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Return every resource created before the cursor value.
        explode: true
        in: query
        name: before_cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                List of Application Profiles:
                  value:
                    _embedded:
                      application_profiles:
                      - id: PPrVzFBWaCL3TeEWHq1tv4Ay
                        tags: {}
                        application: APtjNWUxQKj4Gkw1L4rQ1yNB
                        fee_profile: null
                        risk_profile: RPaPp5SBdiR6TpiS6sZUKxwd
                        created_at: 2022-05-31T16:18:44.56Z
                        updated_at: 2022-05-31T16:18:44.56Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/application_profiles/PPrVzFBWaCL3TeEWHq1tv4Ay
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB
                          risk_profile:
                            href: https://finix.sandbox-payments-api.com/risk_profiles/RPaPp5SBdiR6TpiS6sZUKxwd
                      - id: PPc931nKUintrvYY98itsM9M
                        tags: {}
                        application: APoUsWg49wfXomJTGnvuKZeT
                        fee_profile: null
                        risk_profile: RPjEJsR9nVbHPzPvGU8vg8g9
                        created_at: 2022-03-24T16:25:56.28Z
                        updated_at: 2022-03-24T16:25:56.28Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/application_profiles/PPc931nKUintrvYY98itsM9M
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT
                          risk_profile:
                            href: https://finix.sandbox-payments-api.com/risk_profiles/RPjEJsR9nVbHPzPvGU8vg8g9
                    _links:
                      self:
                        href: "https://finix.sandbox-payments-api.com/application_profiles?offset=0&limit=20&sort=created_at,desc&sort=id,desc"
                      next:
                        href: "https://finix.sandbox-payments-api.com/application_profiles?offset=20&limit=20&sort=created_at,desc&sort=id,desc"
                      last:
                        href: "https://finix.sandbox-payments-api.com/application_profiles?offset=110280&limit=20&sort=created_at,desc&sort=id,desc"
                    page:
                      offset: 0
                      limit: 20
                      count: 110296
              schema:
                $ref: '#/components/schemas/ApplicationProfilesList'
          description: List of application_profile objects
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: List Application Profiles
      tags:
      - Application Profiles
      x-internal: false
      x-java-method-name: list
      x-group-parameters: true
      x-accepts: application/hal+json
  /application_profiles/{application_profile_id}:
    get:
      description: Find an existing application profile by id
      operationId: getApplicationProfile
      parameters:
      - description: ID of application profile to use
        explode: false
        in: path
        name: application_profile_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationProfile'
          description: Single application_profile object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Get Application Profile
      tags:
      - Application Profiles
      x-java-method-name: get
      x-accepts: application/hal+json
    put:
      description: Update an existing `application_profile`.
      operationId: putApplicationProfile
      parameters:
      - description: ID of application profile to use
        explode: false
        in: path
        name: application_profile_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationProfileRequest'
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApplicationProfile'
          description: Single application_profile object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Update Application Profile
      tags:
      - Application Profiles
      x-java-method-name: update
      x-content-type: application/hal+json
      x-accepts: application/hal+json
  /applications:
    get:
      description: "Return a collection of `Applications`. If there are no `Applications`,\n\
        an empty collection will be returned."
      operationId: listApplications
      parameters:
      - description: Filter by id
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: Return every resource created before the cursor value.
        explode: true
        in: query
        name: before_cursor
        required: false
        schema:
          type: string
        style: form
      - description: Return every resource created after the cursor value.
        explode: true
        in: query
        name: after_cursor
        required: false
        schema:
          type: string
        style: form
      - description: The numbers of items to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                List of Applications:
                  value:
                    _embedded:
                      applications:
                      - id: APtjNWUxQKj4Gkw1L4rQ1yNB
                        enabled: true
                        tags:
                          application_name: Daphne's Corner
                        owner: IDfFQSVMQ2Gj94r6tejVj1DR
                        name: Square
                        processing_enabled: true
                        settlement_enabled: true
                        creating_transfer_from_report_enabled: false
                        card_expiration_date_required: true
                        card_cvv_required: false
                        settlement_funding_identifier: UNSET
                        ready_to_settle_upon: RECONCILIATION
                        fee_ready_to_settle_upon: RECONCILIATION
                        created_at: 2022-05-31T16:18:44.49Z
                        updated_at: 2022-05-31T16:18:44.49Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB
                          processors:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/processors
                          users:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/users
                          owner_identity:
                            href: https://finix.sandbox-payments-api.com/identities/IDfFQSVMQ2Gj94r6tejVj1DR
                          transfers:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/transfers
                          disputes:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/disputes
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/authorizations
                          settlements:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/settlements
                          merchants:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/merchants
                          identities:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/identities
                          webhooks:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/webhooks
                          reversals:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/reversals
                          tokens:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/tokens
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/payment_instruments
                          application_profile:
                            href: https://finix.sandbox-payments-api.com/applications/APtjNWUxQKj4Gkw1L4rQ1yNB/application_profile
                      - id: APo9rPYT1bfrgaJAnQvvoGfu
                        enabled: true
                        tags: {}
                        owner: ID9MZvGw6eFaKx5EVxwiZvJJ
                        name: Sandbox Corp
                        processing_enabled: true
                        settlement_enabled: true
                        creating_transfer_from_report_enabled: false
                        card_expiration_date_required: true
                        card_cvv_required: false
                        settlement_funding_identifier: UNSET
                        ready_to_settle_upon: RECONCILIATION
                        fee_ready_to_settle_upon: RECONCILIATION
                        created_at: 2022-05-25T16:17:24.41Z
                        updated_at: 2022-05-25T16:17:24.41Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu
                          processors:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/processors
                          users:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/users
                          owner_identity:
                            href: https://finix.sandbox-payments-api.com/identities/ID9MZvGw6eFaKx5EVxwiZvJJ
                          transfers:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/transfers
                          disputes:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/disputes
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/authorizations
                          settlements:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/settlements
                          merchants:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/merchants
                          identities:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/identities
                          webhooks:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/webhooks
                          reversals:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/reversals
                          tokens:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/tokens
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/payment_instruments
                          application_profile:
                            href: https://finix.sandbox-payments-api.com/applications/APo9rPYT1bfrgaJAnQvvoGfu/application_profile
                      - id: APoUsWg49wfXomJTGnvuKZeT
                        enabled: true
                        tags: {}
                        owner: ID8SMkHMht1Rw7A3jZGXqsou
                        name: business inc
                        processing_enabled: true
                        settlement_enabled: true
                        creating_transfer_from_report_enabled: false
                        card_expiration_date_required: true
                        card_cvv_required: false
                        settlement_funding_identifier: UNSET
                        ready_to_settle_upon: RECONCILIATION
                        fee_ready_to_settle_upon: RECONCILIATION
                        created_at: 2022-03-24T16:25:56.19Z
                        updated_at: 2022-03-24T16:25:56.19Z
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT
                          processors:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/processors
                          users:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/users
                          owner_identity:
                            href: https://finix.sandbox-payments-api.com/identities/ID8SMkHMht1Rw7A3jZGXqsou
                          transfers:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/transfers
                          disputes:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/disputes
                          authorizations:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/authorizations
                          settlements:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/settlements
                          merchants:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/merchants
                          identities:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/identities
                          webhooks:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/webhooks
                          reversals:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/reversals
                          tokens:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/tokens
                          payment_instruments:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/payment_instruments
                          application_profile:
                            href: https://finix.sandbox-payments-api.com/applications/APoUsWg49wfXomJTGnvuKZeT/application_profile
                    _links:
                      self:
                        href: "https://finix.sandbox-payments-api.com/applications?offset=0&limit=20&sort=created_at,desc&sort=id,desc"
                      next:
                        href: "https://finix.sandbox-payments-api.com/applications?offset=20&limit=20&sort=created_at,desc&sort=id,desc"
                      last:
                        href: "https://finix.sandbox-payments-api.com/applications?offset=110400&limit=20&sort=created_at,desc&sort=id,desc"
                    page:
                      offset: 0
                      limit: 20
                      count: 110402
              schema:
                $ref: '#/components/schemas/ApplicationsList'
          description: List of `Applications`.
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: List Applications
      tags:
      - Applications
      x-java-method-name: list
      x-group-parameters: true
      x-accepts: application/hal+json
    post:
      description: "If created successfully, returns a 201 status and adds a location\
        \ header\nto the response which refers to the new created `Application`.\n"
      operationId: createApplication
      requestBody:
        $ref: '#/components/requestBodies/CreateApplicationRequest'
      responses:
        "201":
          content:
            application/hal+json:
              examples:
                Application Created:
                  value:
                    id: APmuwPBaW8pVcwb4vCTHQH32
                    enabled: true
                    tags:
                      application_name: Daphne's Corner
                    owner: ID5UsJr9TVJd6cqAA4CCBc9T
                    name: Daphne's Corner
                    processing_enabled: true
                    settlement_enabled: true
                    creating_transfer_from_report_enabled: false
                    card_expiration_date_required: false
                    card_cvv_required: false
                    settlement_funding_identifier: UNSET
                    ready_to_settle_upon: null
                    fee_ready_to_settle_upon: RECONCILIATION
                    created_at: 2021-10-04T17:46:09.38Z
                    updated_at: 2021-10-04T17:46:09.38Z
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32
                      processors:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/processors
                      users:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/users
                      owner_identity:
                        href: https://finix.sandbox-payments-api.com/identities/ID5UsJr9TVJd6cqAA4CCBc9T
                      transfers:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/transfers
                      disputes:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/disputes
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/authorizations
                      settlements:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/settlements
                      merchants:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/merchants
                      identities:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/identities
                      webhooks:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/webhooks
                      reversals:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/reversals
                      tokens:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/tokens
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/payment_instruments
                      application_profile:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/application_profile
                Created Application X:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
                Created Application Y:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
              schema:
                $ref: '#/components/schemas/Application'
          description: Single application object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Create an Application
      tags:
      - Applications
      x-java-method-name: create
      x-content-type: application/hal+json
      x-accepts: application/hal+json
  /applications/{application_id}:
    get:
      description: Retrieve the details of an `Application`.
      operationId: getApplication
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Application Created:
                  value:
                    id: APmuwPBaW8pVcwb4vCTHQH32
                    enabled: true
                    tags:
                      application_name: Daphne's Corner
                    owner: ID5UsJr9TVJd6cqAA4CCBc9T
                    name: Daphne's Corner
                    processing_enabled: true
                    settlement_enabled: true
                    creating_transfer_from_report_enabled: false
                    card_expiration_date_required: false
                    card_cvv_required: false
                    settlement_funding_identifier: UNSET
                    ready_to_settle_upon: null
                    fee_ready_to_settle_upon: RECONCILIATION
                    created_at: 2021-10-04T17:46:09.38Z
                    updated_at: 2021-10-04T17:46:09.38Z
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32
                      processors:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/processors
                      users:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/users
                      owner_identity:
                        href: https://finix.sandbox-payments-api.com/identities/ID5UsJr9TVJd6cqAA4CCBc9T
                      transfers:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/transfers
                      disputes:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/disputes
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/authorizations
                      settlements:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/settlements
                      merchants:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/merchants
                      identities:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/identities
                      webhooks:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/webhooks
                      reversals:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/reversals
                      tokens:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/tokens
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/payment_instruments
                      application_profile:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/application_profile
                Created Application X:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
                Created Application Y:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
              schema:
                $ref: '#/components/schemas/Application'
          description: Single application object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Fetch an Application
      tags:
      - Applications
      x-java-method-name: get
      x-accepts: application/hal+json
    put:
      description: Update an existing `Application`.
      operationId: putApplication
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Application Created:
                  value:
                    id: APmuwPBaW8pVcwb4vCTHQH32
                    enabled: true
                    tags:
                      application_name: Daphne's Corner
                    owner: ID5UsJr9TVJd6cqAA4CCBc9T
                    name: Daphne's Corner
                    processing_enabled: true
                    settlement_enabled: true
                    creating_transfer_from_report_enabled: false
                    card_expiration_date_required: false
                    card_cvv_required: false
                    settlement_funding_identifier: UNSET
                    ready_to_settle_upon: null
                    fee_ready_to_settle_upon: RECONCILIATION
                    created_at: 2021-10-04T17:46:09.38Z
                    updated_at: 2021-10-04T17:46:09.38Z
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32
                      processors:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/processors
                      users:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/users
                      owner_identity:
                        href: https://finix.sandbox-payments-api.com/identities/ID5UsJr9TVJd6cqAA4CCBc9T
                      transfers:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/transfers
                      disputes:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/disputes
                      authorizations:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/authorizations
                      settlements:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/settlements
                      merchants:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/merchants
                      identities:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/identities
                      webhooks:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/webhooks
                      reversals:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/reversals
                      tokens:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/tokens
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/payment_instruments
                      application_profile:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32/application_profile
                Created Application X:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
                Created Application Y:
                  value:
                    tags: {}
                    id: APxxxxxxxxxxxxxxxxxx
                    created_at: 2019-08-24T14:15:22Z
                    updated_at: 2019-08-24T14:15:22Z
                    card_cvv_required: true
                    card_expiration_date_required: true
                    creating_transfer_from_report_enabled: true
                    enabled: true
                    name: string
                    owner: IDxxxxxxxxxxxxxxxxxx
                    processing_enabled: true
                    settlement_enabled: true
                    _links:
                      application_profile:
                        href: string
                      authorizations:
                        href: string
                      disputes:
                        href: string
                      identities:
                        href: string
                      merchants:
                        href: string
                      owner_identity:
                        href: string
                      payment_instruments:
                        href: string
                      processors:
                        href: string
                      reversals:
                        href: string
                      self:
                        href: string
                      settlements:
                        href: string
                      tokens:
                        href: string
                      transfers:
                        href: string
                      users:
                        href: string
                      webhooks:
                        href: string
              schema:
                $ref: '#/components/schemas/Application'
          description: Single application object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Update an Application
      tags:
      - Applications
      x-java-method-name: update
      x-accepts: application/hal+json
  /applications/{application_id}/processors:
    get:
      description: Get all enabled `Processors` for an `Application`.
      operationId: listApplicationProcessors
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                List of Application Processors:
                  value:
                    _embedded:
                      processors:
                      - id: PRoXd4U33uUp25Kn6P6Uo9A6
                        application: AP3AB2itAWrrrPVS6spvrGYp
                        default_merchant_profile: MPsgBdQgKCc9w9tzT5wSTo7E
                        application_config: null
                        system_config: null
                        created_at: 2022-04-19T00:05:03.84Z
                        updated_at: 2022-04-19T00:05:03.15Z
                        processor: MICROBILT_V1
                        config:
                          memberPassword: "1817272702"
                          useMockCommunication: true
                          host: sdkstage.microbilt.com
                          memberId: CCC0008008
                        enabled: true
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp/processors/MICROBILT_V1
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                      - id: PRwjmyiGjacweM5KJTp7fazB
                        application: AP3AB2itAWrrrPVS6spvrGYp
                        default_merchant_profile: MPsgBdQgKCc9w9tzT5wSTo7E
                        application_config: null
                        system_config: null
                        created_at: 2022-04-19T00:05:03.82Z
                        updated_at: 2022-04-19T00:05:03.15Z
                        processor: LITLE_V1
                        config: {}
                        enabled: true
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp/processors/LITLE_V1
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                      - id: PR5U1BDuxgH7gT2jtCj48RGr
                        application: AP3AB2itAWrrrPVS6spvrGYp
                        default_merchant_profile: MPsgBdQgKCc9w9tzT5wSTo7E
                        application_config: null
                        system_config: null
                        created_at: 2022-04-19T00:05:03.69Z
                        updated_at: 2022-04-19T00:05:03.15Z
                        processor: VISA_V1
                        config: {}
                        enabled: true
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp/processors/VISA_V1
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                      - id: PRcG8kdGRnY8MEhvZexUFRTe
                        application: AP3AB2itAWrrrPVS6spvrGYp
                        default_merchant_profile: MPsgBdQgKCc9w9tzT5wSTo7E
                        application_config: null
                        system_config: null
                        created_at: 2022-04-19T00:05:03.62Z
                        updated_at: 2022-04-19T00:05:03.14Z
                        processor: VANTIV_V1
                        config: {}
                        enabled: true
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp/processors/VANTIV_V1
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                      - id: PRt2uZ8f2R8qyWEALef3PWz6
                        application: AP3AB2itAWrrrPVS6spvrGYp
                        default_merchant_profile: MPtHXbG4Yn9rKyxBmCb446T2
                        application_config: null
                        system_config: null
                        created_at: 2021-05-25T00:18:36.26Z
                        updated_at: 2021-05-25T00:18:36.15Z
                        processor: DUMMY_V1
                        config:
                          key1: value-1
                          key2: value-2
                          canDebitBankAccount: true
                        enabled: true
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp/processors/DUMMY_V1
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp
                    _links:
                      self:
                        href: "https://finix.sandbox-payments-api.com/applications/AP3AB2itAWrrrPVS6spvrGYp/processors?offset=0&limit=20&sort=created_at,desc&sort=id,desc"
                    page:
                      offset: 0
                      limit: 20
                      count: 5
              schema:
                $ref: '#/components/schemas/ProcessorsList'
          description: List of Processor objects
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: List Application Processors
      tags:
      - Processors
      x-java-method-name: listByApplicationId
      x-group-parameters: true
      x-accepts: application/hal+json
    post:
      description: "Enable a `Processor` for an `Application`. If created successfully,\
        \ a\n201 status is returned with a location header added to the response which\
        \ refers to the\nnewly enabled processor.\n"
      operationId: createApplicationProcessor
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateProcessorRequest'
      responses:
        "201":
          content:
            application/hal+json:
              examples:
                Application Processor:
                  value:
                    id: PRrEnUtBAWMj35r4wkjycncs
                    application: APgPDQrLD52TYvqazjHJJchM
                    default_merchant_profile: MPukqLdkiojiX2SauizfaRYr
                    application_config: null
                    system_config: null
                    created_at: 2022-01-27T07:36:34.55Z
                    updated_at: 2022-01-27T07:36:34.46Z
                    processor: DUMMY_V1
                    config:
                      key1: value-1
                      key2: value-2
                      canDebitBankAccount: true
                    enabled: true
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM/processors/DUMMY_V1
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
              schema:
                $ref: '#/components/schemas/Processor'
          description: Single Processor object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "422":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error422InvalidFieldList'
          description: Invalid field
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Create Application Processor
      tags:
      - Processors
      x-content-type: application/hal+json
      x-accepts: application/hal+json
  /applications/{application_id}/processors/{type}:
    get:
      description: Get the `Processor` by `Application` and `type`.
      operationId: getApplicationProcessor
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      - description: Type of `Processor`.
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                Application Processor:
                  value:
                    id: PRrEnUtBAWMj35r4wkjycncs
                    application: APgPDQrLD52TYvqazjHJJchM
                    default_merchant_profile: MPukqLdkiojiX2SauizfaRYr
                    application_config: null
                    system_config: null
                    created_at: 2022-01-27T07:36:34.55Z
                    updated_at: 2022-01-27T07:36:34.46Z
                    processor: DUMMY_V1
                    config:
                      key1: value-1
                      key2: value-2
                      canDebitBankAccount: true
                    enabled: true
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM/processors/DUMMY_V1
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
              schema:
                $ref: '#/components/schemas/Processor'
          description: Single Processor object
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Get Application Processor
      tags:
      - Processors
      x-accepts: application/hal+json
  /applications/{application_id}/users:
    post:
      description: |-
        This is the equivalent of provisioning API keys (i.e. credentials) for an `Application`.

        > Each Application can have multiple `Users` which allows each merchant to have multiple API keys that can be independently enabled and disabled. Merchants only have read access to the API.
      operationId: createApplicationUser
      parameters:
      - description: ID of application to use
        explode: false
        in: path
        name: application_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateUserRequest'
      responses:
        "201":
          content:
            application/hal+json:
              examples:
                ROLE_PARTNER User:
                  value:
                    id: USweC2ufdBEYxpvPuF3G3LUE
                    password: null
                    identity: ID5UsJr9TVJd6cqAA4CCBc9T
                    enabled: true
                    role: ROLE_PARTNER
                    tags:
                      card_name: New Employee
                    created_at: 2021-10-04T17:46:08.78Z
                    updated_at: 2021-10-04T17:46:09.44Z
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/users/USweC2ufdBEYxpvPuF3G3LUE
                      applications:
                        href: https://finix.sandbox-payments-api.com/applications
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APmuwPBaW8pVcwb4vCTHQH32
              schema:
                $ref: '#/components/schemas/User'
          description: Single `User` object.
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "400":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ErrorGeneric'
          description: Error
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: Create an Application User
      tags:
      - Users
      x-internal: false
      x-content-type: application/hal+json
      x-accepts: application/hal+json
  /authorizations:
    get:
      description: 'Retrieve a list of `Authorizations`. '
      operationId: listAuthorizations
      parameters:
      - description: Specify key to be used for sorting the collection
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Return every resource created before the cursor value.
        explode: true
        in: query
        name: before_cursor
        required: false
        schema:
          type: string
        style: form
      - description: The numbers of items to return
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by idempotency_id
        explode: true
        in: query
        name: idempotency_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Transaction state.
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - SUCCEEDED
          - FAILED
          - PENDING
          - CANCELED
          type: string
        style: form
      - description: Filter where created_at is after the given date.
        explode: true
        in: query
        name: created_at.gte
        required: false
        schema:
          example: created_at.gte=2019-06-15
          type: string
        style: form
      - description: Filter where created_at is before the given date.
        explode: true
        in: query
        name: created_at.lte
        required: false
        schema:
          example: created_at.lte=2019-06-15
          type: string
        style: form
      - description: Filter where updated_at is after the given date
        explode: true
        in: query
        name: updated_at.gte
        required: false
        schema:
          type: string
        style: form
      - description: Filter where updated_at is before the given date
        explode: true
        in: query
        name: updated_at.lte
        required: false
        schema:
          type: string
        style: form
      - description: Filter by idempotency_id
        explode: true
        in: query
        name: is_void
        required: false
        schema:
          type: string
        style: form
      - description: Filter by an amount equal to the given value
        explode: true
        in: query
        name: amount
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount less than
        explode: true
        in: query
        name: amount.lt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount greater than
        explode: true
        in: query
        name: amount.gt
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount less than or equal
        explode: true
        in: query
        name: amount.lte
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by an amount greater than or equal
        explode: true
        in: query
        name: amount.gte
        required: false
        schema:
          type: integer
        style: form
      - description: Filter by trace_id
        explode: true
        in: query
        name: trace_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Bank Identification Number (BIN). The BIN is the first
          6 digits of the masked number
        explode: true
        in: query
        name: instrument_bin
        required: false
        schema:
          type: string
        style: form
      - description: "Filter Transactions by the last 4 digits of the bank account.\
          \ The bank account last 4 are the last 4 digits of the masked number\tinstrument_account_last4=9444\
          \ BIN\t"
        explode: true
        in: query
        name: instrument_account_last4
        required: false
        schema:
          type: string
        style: form
      - description: Filter by card brand. Available card brand types can be found
          in the drop-down
        explode: true
        in: query
        name: instrument_brand_type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Identity ID
        explode: true
        in: query
        name: merchant_identity_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter Transactions by Identity name. The name is not case-sensitive
        explode: true
        in: query
        name: merchant_identity_name
        required: false
        schema:
          type: string
        style: form
      - description: Filter Transactions by payment instrument name
        explode: true
        in: query
        name: instrument_name
        required: false
        schema:
          type: string
        style: form
      - description: "Filter Transactions by payment instrument type. Available instrument\
          \ types include: Bank Account or Payment Card"
        explode: true
        in: query
        name: instrument_type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Merchant ID
        explode: true
        in: query
        name: merchant_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Merchant Identification Number (MID)
        explode: true
        in: query
        name: merchant_mid
        required: false
        schema:
          type: string
        style: form
      - description: Filter by the payment card last 4 digits
        explode: true
        in: query
        name: instrument_card_last4
        required: false
        schema:
          type: string
        style: form
      - description: Filter by Processor ID
        explode: true
        in: query
        name: merchant_processor_id
        required: false
        schema:
          type: string
        style: form
      - description: Type of the authorization.
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Return every resource created after the cursor value.
        explode: true
        in: query
        name: after_cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              examples:
                List of Authorizations:
                  value:
                    _embedded:
                      authorizations:
                      - id: AUMeh7zWG45JWcogHFGmKFv
                        application: APgPDQrLD52TYvqazjHJJchM
                        amount: 1000
                        tags:
                          order_number: 21DFASJSAKAS
                        state: SUCCEEDED
                        currency: USD
                        transfer: null
                        messages: []
                        raw: null
                        created_at: 2022-06-05T21:34:06.19Z
                        updated_at: 2022-06-05T21:34:06.38Z
                        trace_id: ec55ff10-b5f7-4e4a-bf6a-503224c70013
                        source: PIe2YvpcjvoVJ6PzoRPBK137
                        merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                        "3ds_redirect_url": null
                        is_void: false
                        void_state: UNATTEMPTED
                        expires_at: 2022-06-12T21:34:06.19Z
                        idempotency_id: null
                        failure_code: null
                        failure_message: null
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/authorizations/AUMeh7zWG45JWcogHFGmKFv
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                          merchant_identity:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                      - id: AUq4AYbftfv7SVgvXRw7tHgW
                        application: APgPDQrLD52TYvqazjHJJchM
                        amount: 100
                        tags:
                          order_number: 21DFASJSAKAS
                        state: SUCCEEDED
                        currency: USD
                        transfer: null
                        messages: []
                        raw: null
                        created_at: 2022-05-25T17:58:23.63Z
                        updated_at: 2022-05-25T17:58:23.77Z
                        trace_id: 9e2e9b96-9454-4cff-85bb-b8dab5719f8e
                        source: PIe2YvpcjvoVJ6PzoRPBK137
                        merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                        "3ds_redirect_url": null
                        is_void: false
                        void_state: UNATTEMPTED
                        expires_at: 2022-06-01T17:58:23.63Z
                        idempotency_id: null
                        failure_code: null
                        failure_message: null
                        _links:
                          self:
                            href: https://finix.sandbox-payments-api.com/authorizations/AUq4AYbftfv7SVgvXRw7tHgW
                          application:
                            href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                          merchant_identity:
                            href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                    _links:
                      self:
                        href: "https://finix.sandbox-payments-api.com/authorizations/?offset=0&limit=20&sort=created_at,desc&sort=id,desc"
                      next:
                        href: "https://finix.sandbox-payments-api.com/authorizations/?offset=20&limit=20&sort=created_at,desc&sort=id,desc"
                      last:
                        href: "https://finix.sandbox-payments-api.com/authorizations/?offset=80&limit=20&sort=created_at,desc&sort=id,desc"
                    page:
                      offset: 0
                      limit: 20
                      count: 95
              schema:
                $ref: '#/components/schemas/AuthorizationsList'
          description: List of Authorization objects
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "401":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error401Unauthorized'
          description: Authentication information is missing or invalid
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "403":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error403ForbiddenList'
          description: Forbidden
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "404":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Error404NotFoundList'
          description: Object does not exist
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
        "406":
          content:
            application/hal+json:
              examples: {}
              schema:
                $ref: '#/components/schemas/Error406NotAcceptable'
          description: Not Acceptable
          headers:
            finix-apiuser-role:
              $ref: '#/components/headers/finix-apiuser-role'
            date:
              $ref: '#/components/headers/date'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
      summary: List Authorizations
      tags:
      - Authorizations
      x-java-method-name: list
      x-group-parameters: true
      x-accepts: application/hal+json
    post:
      description: "Create an `Authorization` to process a transaction.\n\n`Authorizations`\
        \ can have two possible `states`:\n\n- **SUCCEEDED** \n- **FAILED**\n\nIf\
        \ the `Authorization` has **SUCCEEDED** , it must be captured before `expires_at`\
        \ passes or the funds will be released.\n\nLearn how to prevent duplicate\
        \ authorizations by passing an [Idempotency ID](#section/Idempotency-Requests)\
        \ in the payload.\n\n- 3D Secure is also available to authenticate transactions.\
        \ 3D Secure lets you authenticate a transaction by having the cardholder authenticate\
        \ with their issuing bank. By enabling 3D Secure, you shift the liability\
        \ of a chargeback from the merchant to the issuing bank. The integration requires\
        \ a 3D Secure vendor to generate the values needed for `3d_secure_authentication`."
      operationId: createAuthorization
      requestBody:
        $ref: '#/components/requestBodies/CreateAuthorizationRequest'
      responses:
        "201":
          content:
            application/hal+json:
              examples:
                Authorization:
                  value:
                    id: AUeF44FtmytK6XD3JxjUt7HT
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:19.16Z
                    updated_at: 2022-01-27T07:37:19.28Z
                    trace_id: b9e38593-da27-49e7-b948-f6c1d59d5e7e
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDpYDM7J9n57q849o9E9yNrG
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:19.16Z
                    idempotency_id: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUvAZfiEH7irXZf49P7o8P1r
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG
                Authorization (with 3D Secure):
                  value:
                    id: AU27TBqkcCQn94aSVyTvRyrn
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:19.95Z
                    updated_at: 2022-01-27T07:37:20.03Z
                    trace_id: ce97465f-b620-4d98-adba-378756d7013a
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:19.95Z
                    idempotency_id: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AU27TBqkcCQn94aSVyTvRyrn
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Authorization (with Level 2 Processing):
                  value:
                    id: AUq2Xz5VS46U4hzzhX9WJCxx
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 1000
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:20.68Z
                    updated_at: 2022-01-27T07:37:20.86Z
                    trace_id: 2b181625-616a-45b1-a8e7-311d76fddd5e
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:20.68Z
                    idempotency_id: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUq2Xz5VS46U4hzzhX9WJCxx
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Authorization (with Level 3 Processing):
                  value:
                    id: AUsQsCLRp9ENxrh563w1zZHi
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 1000
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:21.55Z
                    updated_at: 2022-01-27T07:37:21.68Z
                    trace_id: 88136ea9-9393-4b95-b4c0-940b49ab707d
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2022-02-03T07:37:21.55Z
                    idempotency_id: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AUsQsCLRp9ENxrh563w1zZHi
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                Voided Authorization:
                  value:
                    id: AU2UkcVZU94rNqonfcLGZRSJ
                    application: APgPDQrLD52TYvqazjHJJchM
                    amount: 100
                    tags:
                      order_number: 21DFASJSAKAS
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    created_at: 2022-01-27T07:37:28.10Z
                    updated_at: 2022-01-27T07:37:29.15Z
                    trace_id: 710b6745-c424-4101-84e5-4a49cf317dc7
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    merchant_identity: IDpYDM7J9n57q849o9E9yNrG
                    "3ds_redirect_url": null
                    is_void: true
                    void_state: PENDING
                    expires_at: 2022-02-03T07:37:28.10Z
                    idempotency_id: null
                    _links:
                      self:
                        href: https://finix.sandbox-payments-api.com/authorizations/AU2UkcVZU94rNqonfcLGZRSJ
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDpYDM7J9n57q849o9E9yNrG
                Card Present Authorization with an EMV Card:
                  value:
                    id: AUeEok8811pDqsR1BbxZLbw1
                    application: APeUbTUjvYb1CdPXvNcwW1wP
                    amount: 150
                    tags:
                      order_number: chris123transfer
                    state: SUCCEEDED
                    currency: USD
                    transfer: null
                    messages: []
                    raw: null
                    card_present_details:
                      emv_data:
                        application_identifier: A0000000031010
                        application_label: Visa Credit
                        application_preferred_name: null
                        application_transaction_counter: 004F
                        cryptogram: TC F8C706E8A0368D15
                        issuer_code_table_index: null
                        pin_verified: false
                        tags: {}
                      masked_account_number: '************7564'
                      name: 'AARON/CHRISTOPHER W '
                      brand: VISA
                      entry_mode: CHIP_ENTRY
                      payment_type: CREDIT
                      approval_code: "000036"
                    created_at: 2019-03-11T23:36:42.03Z
                    updated_at: 2019-03-11T23:36:57.09Z
                    trace_id: FNXmEM7d6ns8LMMzt61AD8TrR
                    source: PIcW77CfRyBUWJhA231TWXWf
                    merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                    device: DVf2H8sh4LZZC52GTUrwCPPf
                    "3ds_redirect_url": null
                    is_void: false
                    void_state: UNATTEMPTED
                    expires_at: 2019-03-18T23:36:42.03Z
                    idempotency_id: null
                    subtype: API
[...]
